<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Разбиение приложения на компоненты</title>
    <style>
        * {
            box-sizing: border-box;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        #app {
            max-width: 992px;
            margin: 0 auto;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div id="app">
        <deeptree></deeptree>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>

        Vue.component('licomponent', {
            data() {
                return {

                }
            },
            props: ['item'],
            //Компонент всегда пишется в template
            template: `    
            <li>{{item.content}}</li>
                
            `,
        });

        Vue.component('ulcomponent', {
            data() {
                return {

                }
            },
            props: ['content'],
            //Компонент всегда пишется в template
            template: `  
            <ul class="content"  
            v-if="content.content">
                <licomponent  
                v-for="item in content.children"  
                :key="item.id"  
                :item="item"> 
                </licomponent>
            </ul>    
            `,
        });

        Vue.component('treenode', {
            data() {
                return {

                }
            },
            props: ['data'],
            //Компонент всегда пишется в template
            template: `   
            <div class="treenode">
                <ulcomponent v-for="content in data" :key="content.id" :content="content"></ulcomponent>  
            </div>
            `,
        });

        Vue.component('deeptree', {
            data() {
                return {
                    data: [{
                        content: "данные или текст",
                        children: [{
                            content: "данные или текст для вложенного элемента 1",
                            children: []
                        }, {
                            content: "данные или текст для вложенного элемента 2",
                            children: []
                        }, 
                        {
                            content: "данные или текст для вложенного элемента 3",
                            children: []
                        }]
                    },
                    {
                        content: "данные или текст",
                        children: [{
                            content: "данные или текст для вложенного элемента 1",
                            children: []
                        }, {
                            content: "данные или текст для вложенного элемента 2",
                            children: []
                        }]
                    }, 
                    
                    {
                        content: "данные или текст",
                        children: [{
                            content: "данные или текст для вложенного элемента 1",
                            children: []
                        }, {
                            content: "данные или текст для вложенного элемента 2",
                            children: []
                        }]
                    }, 
                    {
                        content: "данные или текст",
                        children: [{
                            content: "данные или текст для вложенного элемента 1",
                            children: []
                        }, {
                            content: "данные или текст для вложенного элемента 2",
                            children: []
                        }]
                    }, 
                    {
                        content: "данные или текст",
                        children: [{
                            content: "данные или текст для вложенного элемента 1",
                            children: []
                        }, {
                            content: "данные или текст для вложенного элемента 2",
                            children: []
                        }]
                    },]

                }
            },
            //Компонент всегда пишется в template
            template: `  
            <div class="dom"> 
                <treenode  
                :data="data" > 
                </treenode>
            </div>
            `,
        });

        const app = new Vue({
            el: '#app',
            data: {

            }

        });
    </script>
</body>

</html>